@import "src/Styles/variables";

.ConnectContainer {
  height: auto;
}

.ConnectTitle {
  background-color: $Teal;
  color: white;
  line-height: 28px;
  padding: 10px 0px;
}

.infoBlock {
  width: 80%;
  margin: 0 auto;
}
