@import "src/Styles/variables";
@import "src/Styles/functions";

.ExperienceContainer {
  height: auto;
}

.ExperienceTitle {
  background-color: $DarkBlue;
  color: $BrandWhite;
  line-height: 28px;
  padding: 20px 0px;
  font-size: rem(20);
}

.jobTitle {
  // font-size: rem(15);
  margin: rem(40);
}

.ExperienceGrid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  margin: 0 auto;
  row-gap: rem(40);
  column-gap: rem(36);
  max-width: rem(1500);
  padding: rem(40) rem(100);
}

.ExperienceButton {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  // height: min-content;
}


// MODAL STYLES
.Modal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: $BrandWhite;
  z-index: 100;
  padding: 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 100;
}

.CloseBtn {
  font-size: rem(30);
  position: absolute;
  right: 40px;
  top: 0px;
  cursor: pointer;
  background-color: $DarkBlue;
  color: $BrandWhite;
  border: 0;
  padding: 50px;
  border-radius: 50%;
  margin: 0;
}
.CloseBtn:hover {
  background-color: $Teal;
}
